<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">

<div class="popup-overlay" id="cameraError">

    <div class="popup">

        <div class="popup-icon">
            <i class="bi bi-camera-video-off"></i>
        </div>

        <div class="popup-title">
            Kamera Tidak Terdeteksi
        </div>

        <div class="popup-message">
            Pastikan kamera telah terhubung dan memiliki izin akses.
        </div>

        <button class="popup-btn"
            onclick="closePopup('cameraError')">
            OK
        </button>

    </div>

</div>