<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">

<div class="popup-overlay" id="emptyText">

    <div class="popup">

        <div class="popup-icon">
            <i class="bi bi-pencil-square"></i>
        </div>

        <div class="popup-title">
            Input Kosong
        </div>

        <div class="popup-message">
            Silakan masukkan teks terlebih dahulu.
        </div>

        <button class="popup-btn"
            onclick="closePopup('emptyText')">
            OK
        </button>

    </div>

</div>