<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">

<div class="popup-overlay" id="matchingSheep">

    <div class="popup">

        <div class="popup-icon">
            <i class="bi bi-search"></i>
        </div>

        <div class="popup-title">
            Tidak Ada Domba
        </div>

        <div class="popup-message">
            Tidak ada data domba yang sesuai.
        </div>

        <button class="popup-btn"
            onclick="closePopup('matchingSheep')">
            OK
        </button>

    </div>

</div>