<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">

<div
    class="popup-overlay"
    id="scanFailed"
    onclick="closePopup('scanFailed')">

    <div
        class="popup"
        onclick="event.stopPropagation()">

        <div class="popup-icon">
            <i class="bi bi-upc-scan"></i>
        </div>

        <div class="popup-title">
            Scan Gagal
        </div>

        <div class="popup-message">
            Eartag tidak dapat dibaca.<br/>
            Silakan lakukan scan kembali.
        </div>

        <button class="popup-btn"
            onclick="closePopup('scanFailed')">
            OK
        </button>

    </div>

</div>