<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">

<div
    class="popup-overlay"
    id="sheepNotFound"
    onclick="closePopup('sheepNotFound')">

    <div
        class="popup"
        onclick="event.stopPropagation()">

        <div class="popup-icon">
            <i class="bi bi-search"></i>
        </div>

        <div class="popup-title">
            Domba Tidak Ditemukan
        </div>

        <div class="popup-message">
            Data domba tidak ditemukan pada sistem.
        </div>

        <button class="popup-btn"
            onclick="closePopup('sheepNotFound')">
            OK
        </button>

    </div>

</div>