<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="bg-[#003D2E] min-h-screen flex items-center justify-center">

    <div class="text-center">

        <i class="bi bi-exclamation-circle text-white text-[180px]"></i>

        <h1 class="text-white text-5xl font-semibold mt-8">
            Error
        </h1>

        <p class="text-white text-4xl mt-6">
            Kamu sudah mencapai batas limit!
        </p>

    </div>

</body>
</html>