<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <title>429</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/status.css') }}">

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>

    <div class="container">

        <div class="icon">

            <i class="bi bi-exclamation-triangle"></i>

        </div>

        <h1 class="title">

            429

        </h1>

        <p class="message" style="margin-bottom: 20px;">

            Terlalu banyak permintaan. Silakan coba lagi nanti.

        </p>

    </div>

</body>

</html>